{# See: https://scicomp.aalto.fi/triton/tut/array/ #}
#!/bin/bash
#SBATCH --job-name={{name}}
#SBATCH --error={{logsdir}}/{{name}}_%a.err
#SBATCH --output={{logsdir}}/{{name}}_%a.out
#SBATCH --cpus-per-task={{cpus}}
#SBATCH --time={{time}}
#SBATCH --mem={{mem}}M
#SBATCH --array=1-{{commands|length}}
#SBATCH --mail-type=ALL
#SBATCH --mail-user={{email}}

{% for cmd in prologue %}
{{cmd}}
{% endfor %}

{# NOTE: loop.index starts at 1, and the --array argument at the top of
the script also follows that convention #}
case $SLURM_ARRAY_TASK_ID in
{% for cmd in commands %}
    {{loop.index}}) {{cmd}} ;;
{% endfor %}
esac
