{# See: https://scicomp.aalto.fi/triton/tut/array/ #}
#!/bin/bash
#SBATCH --job-name=prepsubband
#SBATCH --error={{logsdir}}/prepsubband_%a.out
#SBATCH --output={{logsdir}}/prepsubband_%a.err
#SBATCH --cpus-per-task=1
#SBATCH --time=2-0:00:00
#SBATCH --mem=6G
#SBATCH --array=1-{{commands|length}}
#SBATCH --mail-type=ALL
#SBATCH --mail-user=vmorello@gmail.com

BASEDIR=/fred/oz002/vmorello/Mercer5/20201001
INDIR=$BASEDIR/rawdata
OUTDIR=$BASEDIR/dedisp
MASKFILE=$BASEDIR/pre/F1728_AM150_rfifind.mask
IGNORECHAN=$BASEDIR/pre/final_ignorechan.txt

cd $OUTDIR

# Sort input files in numerical index order
# PRESTO does NOT sort the input files by increasing MJD, we have to do it ourselves
FILES=`ls $INDIR/F1728_AM150_*.sf | sort -V`

{# NOTE: loop.index starts at 1, and the --array argument at the top of
the script also follows that convention #}
case $SLURM_ARRAY_TASK_ID in
{% for cmd in commands %}
    {{loop.index}}) {{cmd}} ;;
{% endfor %}
esac
